{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps, [
    {cowboy, "2.12.0"},
    {jsx, "3.1.0"},
    {epgsql, "4.7.1"},
    {pgapp, {git, "https://github.com/epgsql/pgapp.git", {branch, "master"}}},
    {poolboy, "1.5.2"},
    {eredis, "1.7.1"},
    {jose, "1.11.10"},
    {bcrypt, {git, "https://github.com/erlangpack/bcrypt.git", {tag, "1.2.2"}}},
    {argon2, "4.0.0"},
    {uuid, "2.0.7", {pkg, uuid_erl}}
]}.

{relx, [
    {release, {aurix, "0.1.0"}, [
        aurix,
        sasl
    ]},
    {mode, dev},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod},
            {include_erts, true},
            {include_src, false}
        ]}
    ]},
    {test, [
        {deps, []},
        {erl_opts, [nowarn_export_all]}
    ]}
]}.

{shell, [
    {apps, [aurix]}
]}.
