[
    {aurix, [
        {port, 8080},
        {jwt_secret, <<"change-me-in-production">>},
        {jwt_access_ttl_sec, 900},
        {jwt_refresh_ttl_sec, 604800},
        {gold_price_eur, "65.00"},
        {db, [
            {host, "localhost"},
            {port, 5432},
            {database, "aurix_dev"},
            {username, "aurix"},
            {password, "aurix_dev_pass"}
        ]},
        {redis, [
            {host, "localhost"},
            {port, 6379}
        ]},
        {seed_fiat_balance_cents, 1000000}
    ]}
].
